<h2>Eventos</h2>

<hr>

<div class="row mb-3">
  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Filtro:</label>
  <div class="col-sm-10">
    <input
      type="email"
      class="form-control form-control-sm"
      id="colFormLabelSm"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
    >
  </div>
</div>

<br>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">
        <button type="button" class="btn btn-outline-light btn-sm"
          (click)="alterarImagem()">
          <i class="{{mostrarImg ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{mostrarImg ? 'Exibir' : 'Ocultar'}}
        </button>
      </th>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Tema</th>
      <th class="text-center" scope="col">Local</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Qtd Pessoas</th>
      <th class="text-center" scope="col">Lote</th>
      <th class="text-center" scope="col">Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="eventos && eventosFiltrados.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td class="text-center">
        <img [collapse]="mostrarImg"
          [isAnimated]="true"
          src="/assets/{{evento.imagemURL}}"
          [style.width.px] ='larguraImg'
          [style.margin.px] ='margemImg'
        >
      </td>
      <th class="text-center" scope="row">{{evento.id}}</th>
      <td class="text-center">{{evento.tema}}</td>
      <td class="text-center">{{evento.local}}</td>
      <td class="text-center">{{evento.dataEvento | DateTimeFormatPipe}}</td>
      <td class="text-center">{{evento.qtdPessoas}}</td>
      <td class="text-center">{{evento.lotes[0].nome}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-primary btn-sm me-2" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h5>Nenhum evento encontrado!</h5>
      </td>
    </tr>
  </tfoot>

</table>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
